<ion-content>

  <div class="photo d-flex justify-content-center">
    <img src="/assets/images/photography.svg" width="100" height="100" alt="">
  </div>

  <div class="d-flex justify-content-center align-items-center h-100">
    <span class="main-header">Photo Paisa <span class="h1 pl-1 currency">&#8377;</span></span>
  </div>  

  <div class="button-signin pr-4 pl-4">
    <ion-button (click)="signIn()" color="light" class="btn-block">
      <img src="/assets/icon/ico-google.svg" class="pr-2" alt="google icon">
      <span>Sign-in With Google</span>
    </ion-button>
  </div>

</ion-content>
